In [13]:
import os
import glob
import pandas as pd
import openpyxl
import numpy as np

In [14]:
pwd

'C:\\Users\\josel\\OneDrive - EAE Business School\\Documentos\\SIS International\\Concatenate'

In [15]:
os.chdir('C:\\Users\\josel\\OneDrive - EAE Business School\\Documentos\\SIS International\\Concatenate')

In [16]:
pwd

'C:\\Users\\josel\\OneDrive - EAE Business School\\Documentos\\SIS International\\Concatenate'

In [17]:
file_extension = '.csv'
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [18]:
print(f"These are all of the filenames ending in .csv {all_filenames}.")

These are all of the filenames ending in .csv ['cios-in-nyc.csv', 'it-cloud-directors-nyc-wednesday.csv', 'IT.csv', 'new-cto-list-melissa-checkpoint.csv', 'nyc-cloud-it-tech-managers-senior-level.csv', 'RADIUS CLOUD IT HUNT.csv', 'RADIUS IT CLOUD MANAGERS Hunt.csv', 'radius-4pm USA IT Management Companies.csv', 'radius-5pm-967142.csv', 'radius-6pm-967171.csv', 'radius-7pm USA IT.csv', 'radius-it-3pm USA.csv', 'Radius-managed1.csv'].

In [19]:
#List of column names
#for f in range(len(all_filenames)):
#    df=pd.read_csv(all_filenames[f])
#    print(str(all_filenames[f]))
#   print(df.columns)

In [20]:
df = pd.read_csv(all_filenames[0])
#,usecols=['Email address','First name']
#df.to_csv(str(all_filenames[0])+'_1.csv')
df

      Unnamed: 0 first name                     Email
0              0      Stern                sj@shu.edu
1              1        Bob         k-b@infragard.org
2              2   Faith E.   FAITH.VICINANZA@adp.com
3              3      Megan     Megan.Maguire@rsa.com
4              4       Kang     kangchen@columbia.edu
...          ...        ...                       ...
3026        3026      Susan      Susan@Prudential.com
3027        3027      Donna             donna@wmg.com
3028        3028        Jim               jim@nyc.gov
3029        3029       Lisa  lisa.baldwin@tiffany.com
3030        3030       Lisa  baldwin.lisa@tiffany.com

[3031 rows x 3 columns]

In [21]:
combined_csv_data = pd.concat([pd.read_csv(f) for f in all_filenames])
#,usecols=['First name','Email address']

In [23]:
combined_csv_data['first name'].replace(np.nan,'Colleague',inplace=True)

In [24]:
combined_csv_data

       Unnamed: 0 first name                    Email
0               0      Stern               sj@shu.edu
1               1        Bob        k-b@infragard.org
2               2   Faith E.  FAITH.VICINANZA@adp.com
3               3      Megan    Megan.Maguire@rsa.com
4               4       Kang    kangchen@columbia.edu
...           ...        ...                      ...
22739       22739        Jim                        0
22740       22740      Linda     lhaskell@equinix.com
22741       22741       Eric    ekristoff@equinix.com
22742       22742       Kyle      kbowden@amdcomm.com
22743       22743  Alexander     achatani@equinix.com

[89340 rows x 3 columns]

In [25]:
combined_csv_data.drop_duplicates(subset=['Email'],inplace=True)

In [26]:
combined_csv_data.dropna(subset=['Email'],inplace=True)

In [15]:
combined_csv_data['Domain']=combined_csv_data['Email address'].str.split('@').str[-1]

In [27]:
combined_csv_data.to_csv('combined_csv_data.csv')

In [28]:
combined_csv_data

       Unnamed: 0 first name                        Email
0               0      Stern                   sj@shu.edu
1               1        Bob            k-b@infragard.org
2               2   Faith E.      FAITH.VICINANZA@adp.com
3               3      Megan        Megan.Maguire@rsa.com
4               4       Kang        kangchen@columbia.edu
...           ...        ...                          ...
22737       22737      David  david.minkoff@tierpoint.com
22738       22738      Ralph          rthomasii@yahoo.com
22740       22740      Linda         lhaskell@equinix.com
22741       22741       Eric        ekristoff@equinix.com
22743       22743  Alexander         achatani@equinix.com

[80648 rows x 3 columns]